<div class="error-msg data" *ngIf="errorMsg">{{ errorMsg }}</div>

<form class="dgn-from" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- solo si genero y edad estan seleccionados-->
  <div class="animate__animated animate__bounce">
    <h3 class="title ">Ingresa tu información</h3>
    <p>Esta información es importante para tener un mejor diagnostico</p>
    <p>Tu edad (años): <input class="age-input" type="number" name="agePerson" [(ngModel)]="age" /></p>
    <div>
      <label class="genderData">Genero:</label>
      <div class="dropdown">
        <div class="dropbtn">{{ gender != "" ?  (gender == 'female' ? 'femenino' : 'masculino') : 'slecciona el genero'}}</div>
        <div class="dropdown-content">
          <a (click)="onSelectGender('male')">masculino</a>
          <a (click)="onSelectGender('female')">femenino</a>
        </div>
      </div>
    </div>
    <button class="btn-sub" type="submit">comenzar</button>
  </div>
</form>
