* {
	font-size: 1rem;
}

p, .genderData {
    margin: 1em 2em;
    font-size: 15px;
}

.genderData {
	margin-right: 10px;
}

.data {
   left: 200px;
  }

.age-input {
	border: solid 0.5px #454d55c7;
}

.description {
    text-align: center;
}

.title {
    font-family: sans-serif;
    color: rgba(0,141,201,0.85);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.error-msg {
		background-color: #f8d7da;
		font-size: 13px;
    color: #721c24;
    padding: 10px;
    border: 1px solid;
    border-color: #f5c6cb;
    border-radius: .25rem;
}

.btn-sub {
    display: flex;
    margin: 0 auto;
    font-size: 15px;
    color: rgba(0,141,201,0.85);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: 0.4rem;
    line-height: 1.5;
    border-radius: .25rem;
}
  
.btn-sub:hover {
    color: white;
    background-color: #454d55;
}



.dropbtn {
	color: #454d55;
	padding: 2px;
	font-size: 14px;
	border: solid 0.5px #454d55;
	cursor: pointer;
	border-radius: 9px;
}

.dropdown {
	position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgba(113, 197, 233, 0.712)}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: white;
  background-color: #454d55e7;
}
