.map-container {
    position: relative;
    bottom: 0;
    margin: 5%;
    height: 50%;
  }
  .map-frame {
    border: 2px solid black;
    height: 400px;
  }
  #map {
    height: 100%;
  }
  #caja{
    position: relative;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-weight: bold;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(168, 161, 161) !important;;
    font-weight: bold;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: rgb(168, 161, 161) !important;;
   font-weight: bold;
  }

  ::ng-deep.matColumnDef {
    /*change color of underline when focused*/
    background-color: rgb(168, 161, 161) !important;;
    font-weight: bold;
   }

   table{
    width: 100%;
    background-color: white !important;;
    text-align: left;
    border-collapse: collapse;
   }

   tr.mat-footer-row {
    font-weight: bold;
  }

   .mat-column-Nombre {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 24% !important;
    width: 24% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: black;
    
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Direccion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: black;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Telefono {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: black;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }