<div id="caja">
    <form>
        <body>
        <div class="container p-3 my-3 bg-secondary text-black">
          <h2 style="font-family: 'Oswald', sans-serif;">Negocios</h2>
          <h6 style="font-family: 'Oswald', sans-serif;">En esta seccion usted podrá visualizar los diferentes negocios disponibles durante esta contingencia, dando clic en cierta ubicacion y seleccionando el radio medido en metros.</h6>
        </div>

        <div class="container p-3 my-3 bg-secondary text-black">
          <div class="form-row">
              <div class="col-xs-4" style="font-family: 'Oswald', sans-serif;">
                <select class="form-control" style="color:rgb(103, 104, 104)" name="radio" #radio >
                  <option *ngFor="let rad of radios"  [value]="rad.radio"> {{ rad.radio }} </option>
                </select>
                <label>Selecciona el radio en mts.</label>
              </div>
              <div class="col-xs-3" style="font-family: 'Oswald', sans-serif;">
                <button type="button" class="btn btn-dark" (click)="buscaNegocios(radio.value)">Buscar</button>
              </div>
            </div>
          <br>
              <div class="map-frame">
                <div id="map"></div>
              </div>
        </div>
        </body>
    </form>

</div>

<div class="container p-3 my-3 bg-secondary text-black mat-elevation-z8">
    <mat-form-field>
        <mat-label style="color: rgb(211, 206, 206);"><strong>Buscar</strong></mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
    </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Nombre">
            <th style="background-color: rgb(168, 161, 161);" mat-header-cell *matHeaderCellDef> NOMBRE </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Direccion">
            <th style="background-color: rgb(168, 161, 161);" mat-header-cell *matHeaderCellDef> DOMICILIO </th>
            <td mat-cell *matCellDef="let element">{{element.calle}} {{element.numExt}} {{element.numInt}} {{element.colonia}} {{element.municipio}} {{element.estado}} {{element.codigoPostal}} </td>
        </ng-container>

        <ng-container matColumnDef="Telefono">
            <th style="background-color: rgb(168, 161, 161);" mat-header-cell *matHeaderCellDef> TELEFONO </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>




