<div class="card">
    <div class="card-header">
        <h3>Nuevos casos e histórico</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col animate__animated animate__backInUp">
                <div  id="mexico_datas">
                    <h1>Covid en México</h1><br/>
                    <p>Casos Confirmados: </p><br/>
                    <p>Muertes Confirmadas</p><br/>
                    <p>Total de recuperados: </p><br/>
                    <p>Porcentaje de incremento de casos desde ultima actualización: </p><br/>
                    <p>Porcentaje de incremento de muertes desde ultima actualización: </p><br/>
                    <p>Porcentaje de incremento de recuperados desde ultima actualización: </p><br/>
                </div>
            </div>
            <div class="col animate__animated animate__bounce">
                <div id="container" style="position: relative; width: 750px; height: 500px; align-self: right;"></div>
            </div>
        </div>
    </div>

    <!--<div class="card-footer">
        <p>* Datos recabados de www.bing.com/covid</p>
    </div>-->

</div>
