th {
    color: #ffffff;
}

.card-header {
    background-color: #04a4d4;
}

h3 {
    color: #ffffff;
}

iframe {
    border: 0;
}

tr {
    background-color: #454d55;
}

#mexico_datas {
    border-style: solid;
    border-radius: 25px;
    padding: 5%;
    background-color: rgb(214, 239, 255);
}

.card-body {
    background-color: #DADCF5;
}

.card-footer {
    background-color: rgb(192, 192, 192);
}
