div.contenedor{
    width: 90vw;
    margin: 0 auto;
}

select{
    margin: 1rem;
}

h3{
    border-top: 1px solid red;
    margin: 2rem;
}
span.badge{
    margin-left: 1rem;
}

div.resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.resume button{
    flex: 0 0 calc(24%);
}

.pieChart{
    margin-top: 2rem;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pieChart div{
    background-color: transparent;
    flex: 0 0 50%;
}
.pieChart canvas{
    display: inline-block;
    width: 100%!important;
    height: 100%!important;
}

.barChart{
    margin-top: 2rem;
    height: 50%;
    width: 60%;
}
.barChart canvas{
    width: 100%!important;
    height: 100%!important;
}