    <div class="contenedor">

        <h1 class="animate__animated animate__shakeX">Selecciona un estado:</h1>
        <select (change)="onChange($event.target.value)" class="form-control form-control-md" name="estado" id="estado">
            <option value="0" selected>Selecciona...</option>
            <option value="AGS">Aguascalientes</option>
            <option value="BCN">Baja California</option>
            <option value="BCS">Baja California Sur</option>
            <option value="CAM">Campeche</option>
            <option value="CHP">Chiapas</option>
            <option value="CHH">Chihuahua</option>
            <option value="CMX">Ciudad de México</option>
            <option value="COA">Coahuila</option>
            <option value="COL">Colima</option>
            <option value="DUR">Durango</option>
            <option value="GUA">Guanajuato</option>
            <option value="GRO">Guerrero</option>
            <option value="HID">Hidalgo</option>
            <option value="JAL">Jalisco</option>
            <option value="MEX">Estado de México</option>
            <option value="MIC">Michoacán</option>
            <option value="MOR">Morelos</option>
            <option value="NAY">Nayarit</option>
            <option value="NLE">Nuevo León</option>
            <option value="OAX">Oaxaca</option>
            <option value="PUE">Puebla</option>
            <option value="QUE">Querétaro</option>
            <option value="ROO">Quintana Roo</option>
            <option value="SLP">San Luis Potosí</option>
            <option value="SIN">Sinaloa</option>
            <option value="SON">Sonora</option>
            <option value="TAB">Tabasco</option>
            <option value="TAM">Tamaulipas</option>
            <option value="TLA">Tlaxcala</option>
            <option value="YUC">Yucatán</option>
            <option value="ZAC">Zacatecas</option>

        </select>

        <h3>Resumen estadístico de {{jsonCasos.estado}}</h3>

        <div class="resume">
            <button type="button" class="btn btn-primary">
                Confirmados<span id="confirmados" class="badge badge-light"> {{jsonCasos.confirmados}}</span>
            </button>
            <button type="button" class="btn btn-warning">
                Sospechosos <span id="sospechosos" class="badge badge-light">{{jsonCasos.sospechosos}}</span>
            </button>
            <button type="button" class="btn btn-danger">
                Negativos <span id="negativos" class="badge badge-light">{{jsonCasos.negativos}}</span>
            </button>
            <button type="button" class="btn btn-dark">
                Muertes <span id="muertes" class="badge btn-light">{{jsonCasos.muertes}}</span>
            </button>
        </div>


        <div class="pieChart">
            <div class="grafico">
                <canvas baseChart
                [data] ="pieChartData"
                [labels] ="pieChartLabels"
                [chartType] ="pieChartType"></canvas>
            </div>
            <div class="grafico">
                <canvas baseChart
                [datasets] ="lineChartData"
                [labels] ="lineChartLabels"
                [chartType] ="lineChartType"></canvas>
            </div>
            

        </div>

        <div class="pieChart">
            <div class="grafico">
                <canvas baseChart
                [datasets] ="lineChartDataSospechoso"
                [labels] ="lineChartLabelsSospechoso"
                [chartType] ="lineChartTypeSospechoso"></canvas>
            </div>
            <div class="grafico">
                <canvas baseChart
                [datasets] ="lineChartDataMuertes"
                [labels] ="lineChartLabelsMuertes"
                [chartType] ="lineChartTypeMuertes"></canvas>
            </div>
            

        </div>

        <div class="barChart">
            <canvas baseChart
            [datasets] ="barChartData"
            [labels] ="barChartLabels"
            [options] = "barChartOptions"
            [chartType] ="barChartType"></canvas>
        </div>

    </div>
