<div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>

<form class="dgn-from" #form="ngForm" (ngSubmit)="onSubmit(form)">
  
  <h3 class="title">{{resp?.question?.text}}</h3>
  
  <ng-container *ngIf="resp?.question?.type == 'group_single'; else noGroupSingleType">
    <ng-container *ngFor="let item of resp?.question?.items">
      <input class="radio-input" type="radio" name="group_single" ngModel [value]="item?.id">
      <label class="sub-title">{{ item?.name }}</label>
      <p>{{ item?.explanation }}</p>
    </ng-container>
  </ng-container>
  <ng-template #noGroupSingleType>
    <ng-container *ngFor="let item of resp?.question?.items">
      <p class="sub-title">{{ item?.name }}</p>
      <p>{{ item?.explanation }}</p>
      <div class="radio-content">
      <ng-container *ngFor="let choice of item?.choices">
          <input class="radio-input" type="radio" [name]="item?.id" ngModel [value]="choice?.id"> <!-- p12 -->
          <label class="radio-label">{{ choice?.label }}</label>
        </ng-container>
      </div>
    </ng-container>
  </ng-template> 
  <button class="btn-sub" type="submit" [disabled]="isRequesting">Aceptar</button>
</form>
