*, body {
    font-family: sans-serif;
  }
  
  .data {
    margin: 0 auto;
    text-align: left;
  }
  
  p {
   margin: 1em 2em;
   text-align: justify;
   font-size: 14px;
  }
  
  .description {
    text-align: center;
  }
  
.title {
  font-family: sans-serif;
  color: rgba(0,141,201,0.85);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
  
  .sub-title {
    color: rgb(28, 182, 202);
    font-size: 14px;
    font-weight: inherit;
  }
  
  .error-msg {
    background-color: #f8d7da;
    color: #721c24;
    font-size: 13px;
    padding: 10px;
    border: 1px solid;
    border-color: #f5c6cb;
    border-radius: .25rem;
  }
  
  .radio-content {
    display: flex;
    justify-content: center;
    vertical-align: top;
  }
  
  .radio-label {
     margin-right: 2%;
  }
  
  .btn-sub {
    display: flex;
    margin: 0 auto;
    font-weight: 400;
    color: rgba(0,141,201,0.85);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
  
  .btn-sub:hover {    
    color: white;
    background-color: #454d55;

  }