<div class="content" role="main">

    <app-blogs-informativos id="blogs-informativos"></app-blogs-informativos>
    <app-casos-covid id="nuevos-casos-historico"></app-casos-covid>
    <app-diagnostico id="diagnostico"></app-diagnostico>
    <app-videos id="videos"></app-videos>
    <app-directorio id="directorio"></app-directorio>
    <app-whatsapp></app-whatsapp>
    <!--<app-mapa id="mapa"></app-mapa>-->

</div>
