<div class="card-header ">
    <h3 class="">Diagnóstico</h3>
</div>
<div class="card-deck" id="question-component">
    <div>
        <p></p>
    </div>
    <div class="card animate__animated animate__backInRight">
        <img src="../../../assets/components/diagnostico/card/tests-covid19.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title animate__animated animate__bounce">COVID-19</h5>
            <p class="card-text animate__animated animate__bounce">¿Tienes síntomas parecidos a los del covid-19? Contamos con un cuestionario diseñado para su detección! .</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body2">
            <datos-usuario [(gender)]="gender" [(age)]="age" *ngIf="!gender && !age"></datos-usuario>
            <preguntas-diagnostico [gender]="gender" [age]="age" (evidence)="getEvidence($event)" *ngIf="gender && age && !evidence"></preguntas-diagnostico>
            <resultado [evidence]="evidence" [gender]="gender" [age]="age" *ngIf="evidence"></resultado>
        </div>
    </div>
</div><br>