.btn.btn-success,
.carousel-inner {
    margin-left: 50%;
    transform: translateX(-50%);
}

.card-body2 {
    overflow: auto;
    flex: 1 1 auto;
    height: 100%;
    min-height: 1px;
    padding: 10px;
    position: relative;
    z-index: -1;
}

.card-deck {
    margin: 0px 10px opx 10px 2%;
    left: 10px;
    right: 100px;
}

.card {
    width: 45%;
    height: 500px;
    display: inline-block;
    flex: none;
    position: relative;
    z-index: -1;
}

.card-header {
    background-color: rgba(0, 141, 201, 0.85);
}

h3 {
    color: #ffffff;
}

#question-component {
    position: relative;
}

#question-component:hover {
    margin: 0px 10px opx 10px 2%;
    left: 10px;
    right: 100px;
    position: relative;
    z-index: 1;
}