.formulario {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
    margin-top: 50px;
    padding: 3px;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

h1 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
}

.input-contenedor {
    margin-bottom: 15px;
    width: 80%;
}

.icon {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    border: none;
    width: 80%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: 1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    /*a partir de 768*/
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}