<form [formGroup]="registerForm" action="" class="form-group">
    <h1>REGISTRATE</h1>
    <div class="row contenedor-fila">

        <div class="col-md-6 col-lg-6 col-xs-12 ">
            <div class="contenedor" align="center">
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.nombreUsuario" type="text" required="required" placeholder="Elige un usuario" formControlName="nombreUsuario">
                    <div *ngIf="nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="nombreUsuario.errors.required">
                            Nombre de usuario requerido
                        </div>
                        <div class="text-danger" *ngIf="nombreUsuario.errors.usernameUnico">
                            Ese nombre de usuario ya está en uso
                        </div>
                    </div>
                </div>
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.password" type="password" required="required" placeholder="Contraseña" formControlName="password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="password.errors.required">
                            Password requerida
                        </div>
                        <div class="text-danger" *ngIf="password.errors.minlength">
                            La longitud mínima del password es 4 caracteres
                        </div>
                        <div class="text-danger" *ngIf="password.errors.passwordValidation">
                            {{password.errors.passwordValidation.message}}
                        </div>

                    </div>
                </div>
                <div class="input-contenedor">
                    <input type="password" appConfirmEqualValidator="password" required="required" placeholder="Confirma la contraseña" formControlName="passwordConfirmacion">
                    <div *ngIf="passwordConfirmacion.invalid && (passwordConfirmacion.dirty || passwordConfirmacion.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="passwordConfirmacion.errors?.notEqual">
                            Las contraseñas no coinciden
                        </div>

                    </div>
                </div>
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.nombre" type="text" required="required" placeholder="Nombre(s)" formControlName="nombre">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="nombre.errors.required">
                            Nombre requerido
                        </div>
                    </div>
                </div>
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.apellidoPaterno" type="text" required="required" placeholder="Apellido Paterno" formControlName="apellidoPaterno">
                    <div *ngIf="apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="apellidoPaterno.errors.required">
                            Apellido paterno requerido
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 ">
            <div class="contenedor" align="center">
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.apellidoMaterno" type="text" required="required" placeholder="Apellido Materno" formControlName="apellidoMaterno">
                    <div *ngIf="apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="apellidoMaterno.errors.required">
                            Apellido Materno requerido
                        </div>
                    </div>
                </div>
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.telefono" type="tel" pattern="[0-9]{10}" required="required" placeholder="Teléfono" formControlName="telefono">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="telefono.errors.required">
                            Telefono requerido
                        </div>
                        <div class="text-danger" *ngIf="telefono.errors?.pattern" class="text-danger">Escribe un telefono valido de 10 dígitos</div>
                    </div>
                </div>
                <div class="input-contenedor">
                    <input [(ngModel)]="usuario.correo" type="email" required="required" placeholder="Correo Electrónico" formControlName="correo">
                    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
                        <div class="text-danger" *ngIf="correo.errors.required">
                            Correo requerido
                        </div>
                        <div class="text-danger" *ngIf="correo.errors?.pattern" class="text-danger">Escribe un email valido</div>
                        <div class="text-danger" *ngIf="correo.errors.emailUnico">
                            Ese correo ya está en uso
                        </div>
                    </div>
                </div>
                <input type="submit" value="Registrate" class="button" (click)="guardar()">
                <p>¿Ya tienes cuenta?<a class=link [routerLink]="['/sesion']" routerLinkActive="router-link-active">Iniciar sesión</a></p>

            </div>
        </div>

    </div>
</form>