table{
    visibility: visible;
  }

  table.highchart {
    min-width: 250px;
    margin-bottom: 21px;
  }
  table.highchart caption {
    border-bottom: 1px dotted #777;
  }
  table.highchart td, table.highchart th {
    text-align: center;
    padding: 3px 8px;
    border: 1px solid #fff;
  }
  table.highchart tbody td, table.highchart tbody th {
    background-color: #ddd;
  }  
  .tablechart {
    margin-bottom: 21px;
  }
  h2 {
    margin-top: 60px;
    border-bottom: 1px dotted #777;
  }
  .tablechart {
    float: right;
    width: 740px;
    height: 400px;
  }
  #slider { 
    width: 300px;
  }