    table{
      visibility: visible;
    }

    table.data {
      min-width: 250px;
      margin-bottom: 21px;
    }
    table.data caption {
      border-bottom: 1px dotted #777;
    }
    table.data td, table.data th {
      text-align: center;
      padding: 3px 8px;
      border: 1px solid #fff;
    }
    table.data tbody td, table.data tbody th {
      background-color: #ddd;
    }  
    .tablechart {
      margin-bottom: 21px;
    }
    h2 {
      margin-top: 60px;
      border-bottom: 1px dotted #777;
    }
    .tablechart {
      float: right;
      width: 740px;
      height: 400px;
    }
    #slider { 
      width: 300px;
    }