<div class="card-header">
    <h3 class="animate__animated animate__bounce"><a class="text-white" href="https://www.youtube.com/channel/UCu2Uc7YeJmE9mvGG9OK-zbQ" target="_blank">Videos</a></h3>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div *ngFor="let video of videos; index as i" class="col mb-4">
            <div class="card h-100">
                <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">{{video.snippet.title}}
          </a></h5>
                    <p class="card-text">{{video.snippet.description.slice(0, 100)}}</p>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#ModalVid' + i">
          Ver video
        </button>

                <div class="modal fade" id="ModalVid{{i}}" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Label">{{video.snippet.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body" align="center">
                                <iframe class="embed-responsive-item" [src]="getEmbedUrl(video)" allowfullscreen="true" width="100%" height="375"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <!--<button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">Cerrar</button>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>