.card {
margin: 2.5%;
}

.effect{
box-shadow: 1rem ;
	text-decoration: none;
	background-color: #28a745;
	border-radius: 3px;
	transition: .35s ease-in-out;
	transition-color: rgba(0,141,201,0.85);
	position: absolute;
	margin: -70px 270px;
	font-family: "Playfair Display";
  padding: 10px 10px;
  color: inherit;
  line-height: 16px;
}

.card-header {
  padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
	background-color: rgba(0,141,201,0.85);
}

.card-header[_ngcontent-ikw-c53] {
background-color: rgba(0,141,201,0.85);
}

.card-header:first-child {
border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
