.formulario {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
    margin-top: 50px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}
/*
.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 80%;
}
*/
.icon {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: 1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    /*a partir de 768*/
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}


#grid{
  font-size:12px;
  width: 94%;
  /*padding-left: 5%;*/
  vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/*   Loading ...  */ 

.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .contenedor {
    width: 50%;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align: center;
}

.button {
    border: none;
    width: 40%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}