<br>
<div>

<div class="loading-screen-wrapper" *ngIf="loading">
  <div class="loading-screen-icon" *ngIf="loading">
    <img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif">
  </div>
</div>
<br>
<h1>Registra tu negocio en nuestro sitio</h1><br>
    <div class="row contenedor-fila">

        <div class="col-md-12 col-lg-12 col-xs-12 ">

            <div class="contenedor">
              <form (ngSubmit)="verificar(f)" #f="ngForm" class="form-group">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>&nbsp;&nbsp;&nbsp;&nbsp;

                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Verificación de negocio
                    </mat-panel-title>
                  </mat-expansion-panel-header>
            
                    <mat-form-field>
                      <mat-label>Nombre o razon social</mat-label>
                      <input matInput [(ngModel)]="negocio.nombre" name="nombre" required="required" >
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <mat-select>
                      <select [(ngModel)]="negocio.estado" (change)="cargaMunicipios($event.target.value)" name="estado">
                          <option *ngFor="let entidad of entidades" name="estado" [value]="entidad.nombre">{{entidad.nombre}}</option>
                      </select>
                    </mat-select>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <mat-select>
                      <select [(ngModel)]="negocio.municipio" name="municipio">
                          <option *ngFor="let municipio of municipios" name="municipio" [value]="municipio">{{municipio}}</option>
                      </select>
                    </mat-select>
              
                    <mat-action-row>
                      <button type="submit" value="Verificar" class="button">Verificar</button>
                    </mat-action-row>
            
                </mat-expansion-panel>
              </form>

                <form (ngSubmit)="registrar(f)" #f="ngForm" class="form-group">
                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle *ngIf="show">
                    
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Registro
                      </mat-panel-title>
                      <mat-panel-description>
                        Verifica los datos de tu establecimiento antes de darlo de alta
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <div class="col-md-10 col-lg-10 col-xs-10"><br>

                        <div class="input-contenedor" >
                            <select name="res.Nombre" id="" (change)="cargaNegocio($event.target.value)">
                                <option *ngFor=" let res of negocios; let i = index"  [value]="res.Nombre">{{res.Nombre}}</option>
                            </select>
                        </div><br><br>

                        <div class="input-contenedor">
                            <label type="text">Nombre: </label>&nbsp;&nbsp;&nbsp;<label>{{ comercio.Nombre}}</label>
                        </div>

                        <div class="input-contenedor">
                            <label type="text">Razon Social: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.Razon_social}}</label>
                        </div>

                        <div class="input-contenedor">
                            <label type="text">Domicilio: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.Calle}} {{comercio.Num_Exterior}} {{comercio.Num_Interior}}, {{comercio.Colonia}}, {{comercio.Ubicacion}}</label>
                        </div>

                        <div class="input-contenedor">
                            <label type="text">Tipo de actividad: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.Clase_actividad}}</label>
                        </div>

                        <mat-form-field>
                          <mat-label>teléfono</mat-label>
                          <input matInput [(ngModel)]="comercio.Telefono" name="telefono" type="number" value="{{comercio.Telefono}}" (keyup)="checaTelefono($event.target.value)" id="telefono" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                        </mat-form-field>
                      </div>

                      <mat-action-row>
                        <button type="submit" value="Registrar" class="button">Registrar</button>
                      </mat-action-row>
                         
              
                </mat-expansion-panel>
              </form>
        </div>
    </div>
</div>





