<br><br>
<h1>Registra el horario de tu negocio</h1>
<form role="form" data-toggle="validator" class="form-group">
    <div class="row contenedor-fila">

        <div class="col-md-12 col-lg-12 col-xs-12 ">


            <div class="contenedor">
                <label>Elige el día</label>
                <select [(ngModel)]="diasAtencion.dia" [ngModelOptions]="{standalone: true}" required class="custom-select">
                    <option  [disabled]="desabilitar[0]===true" value="Lunes" >Lunes</option>
                    <option  [disabled]="desabilitar[1]===true" value="Martes">Martes</option>
                    <option  [disabled]="desabilitar[2]===true" value="Miercoles">Miercoles</option>
                    <option  [disabled]="desabilitar[3]===true" value="Jueves">Jueves</option>
                    <option  [disabled]="desabilitar[4]===true" value="Viernes">Viernes</option>
                    <option  [disabled]="desabilitar[5]===true" value="Sabado">Sábado</option>
                    <option  [disabled]="desabilitar[6]===true" value="Domingo">Domingo</option>
                  </select>
                <label>Elige si este dia abres o cierras</label>
                <select [(ngModel)]="diasAtencion.abierto" (change)="updateAbierto($event)" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option value="1" [ngValue]="1" >Abierto</option>
                    <option value="0" [ngValue]="0" >Cerrado</option>
                  </select>
                <label>Hora de apertura:</label>
                <select [(ngModel)]="diasAtencion.horaApertura" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option [disabled]="diasAtencion.abierto===0"  *ngFor="let element of horario" [ngValue]="element" selected>{{element}}</option>
                  </select>
                <label for="cars">Hora de cierre:</label>
                <select [(ngModel)]="diasAtencion.horaCierre" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option [disabled]="diasAtencion.abierto===0" *ngFor="let element of horario" [ngValue]="element"selected>{{element}}</option>
                  </select>

                <div class="media">
                    <input type="submit" value="Guardar" (click)="guardar()" class="button">
                </div>

            </div>


        </div>


    </div>
</form>