.contenedor {
    width: 50%;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align: center;
}

.button {
    border: none;
    width: 80%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}