

<footer class="foote bg-dark text-center ">

  <div class="footer-copyright text-center py-3 ">

    <p>
      Todos los derechos reservados<br><br>
    </p>
    <p>
      &copy; {{ anio }} Copyright Softtek<br><br>
    </p>

  </div>


</footer>
