table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.mat-column-sitioWeb {
    flex: 0 0 50%;
    max-width: 50%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 141, 201, 0.85);
}

.card-header[_ngcontent-ikw-c53] {
    background-color: rgba(0, 141, 201, 0.85);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

h3 {
    color: white;
}

.label {
    display: block;
    width: 150px;
}