<div class="card-header">
    <h3>Directorio</h3>
</div>

<mat-form-field>
    <mat-label>Buscador</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 animate__animated animate__jackInTheBox">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="domicilio">
        <th mat-header-cell *matHeaderCellDef> Domicilio </th>
        <td mat-cell *matCellDef="let element"> {{element.calle}} #{{element.numExt}} {{element.numInt}} Col.{{element.colonia}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
    <ng-container matColumnDef="sitioWeb">
        <th mat-header-cell *matHeaderCellDef> Sitio web </th>
        <td mat-cell *matCellDef="let element">
            <a [attr.href]="'//' + element.sitioWeb" target="_blank" [title]="element.sitioWeb">{{element.sitioWeb}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let element">
            <span class="label">{{element.diasAtencion[0]?element.diasAtencion[0].dia+'-'+(element.diasAtencion[0].horaApertura?element.diasAtencion[0].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[0].horaCierre?element.diasAtencion[0].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}} </span>
            <span class="label">{{element.diasAtencion[1]?element.diasAtencion[1].dia+'-'+(element.diasAtencion[1].horaApertura?element.diasAtencion[1].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado') +(element.diasAtencion[1].horaCierre?element.diasAtencion[1].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}}</span>
            <span class="label">{{element.diasAtencion[2]?element.diasAtencion[2].dia+'-'+(element.diasAtencion[2].horaApertura?element.diasAtencion[2].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[2].horaCierre?element.diasAtencion[2].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}}</span>
            <span class="label">{{element.diasAtencion[3]?element.diasAtencion[3].dia+'-'+(element.diasAtencion[3].horaApertura?element.diasAtencion[3].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[3].horaCierre?element.diasAtencion[3].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}} </span>
            <span class="label">{{element.diasAtencion[4]?element.diasAtencion[4].dia+'-'+(element.diasAtencion[4].horaApertura?element.diasAtencion[4].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[4].horaCierre?element.diasAtencion[4].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}}</span>
            <span class="label"> {{element.diasAtencion[5]?element.diasAtencion[5].dia+'-'+(element.diasAtencion[5].horaApertura?element.diasAtencion[5].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[5].horaCierre?element.diasAtencion[5].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}}</span>
            <span class="label"> {{element.diasAtencion[6]?element.diasAtencion[6].dia+'-'+(element.diasAtencion[6].horaApertura?element.diasAtencion[6].horaApertura.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':')+'-':'Cerrado')+(element.diasAtencion[6].horaCierre?element.diasAtencion[6].horaCierre.split('1970-01-01T').join('-').split('-',2).join('').split(':',2).join(':'):''):''}}</span>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="200" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>