nav {
    background-color: rgba(0,141,201,0.85);
      top: 0; /* Position the navbar at the top of the page */

}

.navbar-color {
    color: #ffffff;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px;
}

button {
    margin-right: 5px;
}




