<br><br><br><nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand">
        <img src="../../../../assets/shared/layout/navbar/virus.png">
    </a>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto navbar-color">
            <li class="navbar-item" routerLinkActive="active">
                <a [routerLink]="['inicio']" class="nav-link">Inicio</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="#blogs-informativos" class="nav-link">Blogs</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="#nuevos-casos-historico" class="nav-link">Casos</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="#diagnostico" class="nav-link">Diagnostico</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="#videos" class="nav-link">Videos</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="#directorio" class="nav-link">Directorio</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a [routerLink]="['graficas-gobierno']" class="nav-link">Gobierno</a>
            </li>
            <li class="navbar-item" routerLinkActive="active">
                <a href="mapa" class="nav-link">Negocios</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler btn-outline-light" data-toggle="collapse" type="button" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline">
        <a [routerLink]="['sesion']">
            <button *ngIf="estaAutenticado() == false" type="button" class="btn btn-outline-light my-2 my-sm-0">Iniciar sesión</button>
        </a>
        <a [routerLink]="['registro-usuario']">
            <button *ngIf="estaAutenticado() == false" type="button" class="btn btn-outline-light my-2 my-sm-0">Registrate</button>
        </a>
        <a [routerLink]="['perfil']">
            <button *ngIf="estaAutenticado() == true" type="submit" class="btn btn-outline-light my-2 my-sm-0">Perfil</button>
        </a>
        <a [routerLink]="['sesion']">
            <button *ngIf="estaAutenticado() == true" type="submit" class="btn btn-outline-light my-2 my-sm-0" (click)="salir()">Logout</button>
        </a>
    </form>
</nav>
