<div class="card-header">
  <h3 ><a class="text-white">Blogs</a></h3>
</div>
<div id="carouselExampleCaptions" class="carousel slide fondoCarousel callout-title " data-ride="carousel">
  <div class="carousel-inner box ">
    <div class="carousel-item  " *ngFor="let article of mArticles | slice:0:4; let isFirst = first"  [class.active]="isFirst">
      <img class="images animate__animated animate__rotateInDownLeft" src={{article.urlToImage}} ng-fallimg>
        <div class="carousel-caption d-none d-md-block">
          <div>
            <div>
              <h5><a class="text animate__animated animate__bounce">{{article.title}}</a></h5>
            </div>
            <div>
              <h5><a class="white-mode animate__animated animate__bounce" href={{article.url}}  target="_blank" >Más información</a></h5>
            </div>

        </div>
    </div>
  </div>



  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div><br>

<!--<div id="carouselExampleCaptions" class="carousel slide fondoCarousel" data-ride="carousel">
  <div class="carousel-inner box">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="carousel-item " *ngFor="let article of mArticles | slice:0:6; let isFirst = first"  [class.active]="isFirst">

          <div class="card h-100">
            <img class="images" src={{article.urlToImage}}>
            <div class="card-body">
              <h5 class="card-title"><a class="white-mode" href={{article.url}} target="_blank" >{{article.title}}</a></h5>
              <p class="card-text">{{article.description}}</p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#ModalVid' + i">
              <a class="white-mode" href={{article.url}} target="_blank" >{{article.title}}</a>
            </button>

            <div class="modal fade" id="ModalVid{{i}}" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                  <div class="modal-body" align="center">
                    <iframe class="embed-responsive-item" [src]="getEmbedUrl(video)" allowfullscreen="true" width="100%" height="375"></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  </div>

-->
