a.carousel-control-next,
a.carousel-control-prev {
    background-color: rgba(0, 141, 201, 0.85);
    width: 5%;
}

.images {
    width: 610px;
    height: 463px;
    position: relative;
    background-color: #DADCF5;
    left: 62px;
}

.white-mode {
    box-shadow: 1rem;
    text-decoration: none;
    background-color: #28a745;
    border-radius: 3px;
    transition: .35s ease-in-out;
    transition-color: rgba(0, 141, 201, 0.85);
    position: absolute;
    margin: -70px 270px;
    font-family: "Playfair Display";
    padding: 10px 10px;
    color: inherit;
    line-height: 16px;
}

.text {
    box-shadow: 1rem;
    background-color: rgba(0, 141, 201, 0.85);
    border-radius: 3px;
    color: #FFF;
    transition: .35s ease-in-out;
    transition-color: rgba(0, 141, 201, 0.85);
    font-family: "Playfair Display";
    right: -300px;
    bottom: 100px;
    position: absolute;
    margin: 100px 200px 100px 600px;
}

.white-mode:hover {
    background-color: #FFF;
    color: #122;
}

.fondoCarousel {
    background-color: #DADCF5;
}

.textInfo {
    text-decoration: underline overline;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.btn.btn-success {
    background-color: #454d55;
}

.card-header {
    background-color: #454d55;
}

h3 {
    color: #ffffff;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 141, 201, 0.85);
}

.card-header[_ngcontent-ikw-c53] {
    background-color: rgba(0, 141, 201, 0.85);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}