<div id="wtittle">
    <h2>Bienvenido(a) {{usuario.nombre}}</h2>
    <p>Haz click en alguno de los siguientes botones para desplegar más Información</p>
</div>
<div class="media">
    <input type="submit" value="Registrar Comercio" class="button" (click)="registroComercio()">
</div>
<div class="media">
    <input type="submit" value="Información de {{usuario.nombre}}" class="button" (click)="datosUsuarioFunction()">
</div>
<div *ngIf="datosUsuario">
    <form [formGroup]="registerForm" action="" class="form-group">
        <h3 id="dptittle">Datos Personales</h3>
        <div class="row contenedor-fila">
            <div class="col-md-6 col-lg-6 col-xs-12 ">
                <div class="contenedor" align="center">
                    <div class="media">
                        <input id="btnCambiarPassword" data-toggle="modal" data-target="#myModal" type="submit" value="Cambiar contraseña" class="button">
                    </div>


                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Cambia tu contraseña</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <input name="password" formControlName="passwordActual" type="password" id="form34" class="form-control validate">
                                        <label class="label-modal" data-error="wrong" data-success="right" for="form34">Ingresa tu contraseña actual</label>
                                        <div *ngIf="passwordActual.invalid && (passwordActual.dirty || passwordActual.touched)" class="alert alert-danger">
                                            <div class="text-danger" *ngIf="passwordActual.errors.minlength">
                                                La longitud mínima del password es 4 caracteres
                                            </div>
                                            <div class="text-danger" *ngIf="passwordActual.errors.required">
                                                Campo requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="md-form mb-5">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input name="password" formControlName="passwordNueva" type="password" id="form29" class="form-control validate">
                                        <label class="label-modal" data-error="wrong" data-success="right" for="form29">Ingresa la contraseña nueva</label>
                                        <div *ngIf="passwordNueva.invalid && (passwordNueva.dirty || passwordNueva.touched)" class="alert alert-danger">
                                            <div class="text-danger" *ngIf="passwordNueva.errors.minlength">
                                                La longitud mínima del password es 4 caracteres
                                            </div>
                                            <div class="text-danger" *ngIf="passwordNueva.errors.required">
                                                Campo requerido
                                            </div>
                                        </div>
                                    </div>

                                    <div class="md-form mb-5">
                                        <i class="fas fa-tag prefix grey-text"></i>
                                        <input appConfirmEqualValidator="passwordNueva" name="password" formControlName="passwordConfirmacion" type="password" id="form32" class="form-control validate">
                                        <label class="label-modal" data-error="wrong" data-success="right" for="form32">Confirma la contraseña nueva</label>
                                        <div *ngIf="passwordConfirmacion.invalid && (passwordConfirmacion.dirty || passwordConfirmacion.touched)" class="alert alert-danger">
                                            <div class="text-danger" *ngIf="passwordConfirmacion.errors?.notEqual">
                                                Las contraseñas no coinciden
                                            </div>
                                            <div class="text-danger" *ngIf="passwordConfirmacion.errors.minlength">
                                                La longitud mínima del password es 4 caracteres
                                            </div>
                                            <div class="text-danger" *ngIf="passwordConfirmacion.errors.required">
                                                Campo requerido
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class=" modal-footer d-flex justify-content-center">
                                    <button class="btn btn-unique" (click)="actualizarPassword(usuario)">Confirmar<i class="fas fa-paper-plane-o ml-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-contenedor">
                        <label>Nombre(s):</label>
                        <input [(ngModel)]="usuario.nombre" name="nombre" formControlName="nombre" type="text" required="required" placeholder="Nombre(s)">
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                            <div class="text-danger" *ngIf="nombre.errors.required">
                                Nombre requerido
                            </div>
                        </div>
                    </div>
                    <div class="input-contenedor">
                        <label>Apellido Paterno:</label>
                        <input [(ngModel)]="usuario.apellidoPaterno" name="apellidoPaterno" formControlName="apellidoPaterno" type="text" required="required" placeholder="Apellido Paterno">
                        <div *ngIf="apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched)" class="alert alert-danger">
                            <div class="text-danger" *ngIf="apellidoPaterno.errors.required">
                                Apellido paterno requerido
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xs-12 ">
                <div class="contenedor" align="center">
                    <div class="input-contenedor">
                        <label>Apellido Materno:</label>
                        <input [(ngModel)]="usuario.apellidoMaterno" name="apellidoMaterno" formControlName="apellidoMaterno" type="text" required="required" placeholder="Apellido Materno">
                        <div *ngIf="apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched)" class="alert alert-danger">
                            <div class="text-danger" *ngIf="apellidoMaterno.errors.required">
                                Apellido Materno requerido
                            </div>
                        </div>
                    </div>
                    <div class="input-contenedor">
                        <label>Teléfono:</label>
                        <input [(ngModel)]="usuario.telefono" name="telefono" pattern="[0-9]{10}" formControlName="telefono" type="text" required="required" placeholder="Teléfono">
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                            <div class="text-danger" *ngIf="telefono.errors.required">
                                Telefono requerido
                            </div>
                            <div class="text-danger" *ngIf="telefono.errors?.pattern" class="text-danger">Escribe un telefono valido de 10 dígitos</div>
                        </div>
                    </div>
                    <div class="input-contenedor">
                        <label>Correo:</label>
                        <input [(ngModel)]="usuario.correo" name="correo" formControlName="correo" type="text" required="required" placeholder="Correo Electrónico">
                        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
                            <div class="text-danger" *ngIf="correo.errors.required">
                                Correo requerido
                            </div>
                            <div class="text-danger" *ngIf="correo.errors?.pattern" class="text-danger">Escribe un email valido</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <input id="btnactualizar" type="submit" value="Actualizar Datos Personales" class="button" (click)="actualizar(usuario)">
        </div>
    </form>
</div>

<div class="media">
    <input type="submit" value="Comercios de {{usuario.nombre}}" class="button" (click)="datosComercioFunction()">
</div>
<div *ngIf="datosComercio">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Comercios</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Razón Social</th>
                            <th>Domicilio</th>
                            <th>Teléfono</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comercio of comercios">
                            <td>{{comercio.nombre}}</td>
                            <td>{{comercio.razonSocial}}</td>
                            <td>{{comercio.calle}} {{comercio.numInt}} {{comercio.numExt}} {{comercio.colonia}} {{comercio.codigoPostal}} {{comercio.estado}} {{comercio.municipio}}</td>
                            <td>{{comercio.telefono}}</td>
                            <td>
                                <button (click)="modificar(comercio)" class="btn btn-warning" style="margin-right: 10px;">Editar</button>
                            </td>
                            <td>
                                <button (click)="eliminar(comercio)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>