.formulario {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
    margin-top: 50px;
    padding: 3px;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #1a2537;
}

h3 {
    text-align: center;
    color: #1a2537;
}

input[type="text"]:not(.form-control),
input[type="password"]:not(.form-control),
input[type="number"]:not(.form-control),
input[type="email"]:not(.form-control) {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
}

.input-contenedor {
    margin-bottom: 15px;
    width: 80%;
}

.icon {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.button:not(.btn-unique) {
    border: none;
    width: 80%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.btn-unique {
    color: white;
    font-size: 20px;
    background: #1a2537;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: 1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    /*a partir de 768*/
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

#wtittle {
    margin-top: 2.5%;
    margin-bottom: 5%;
}

#dptittle {
    margin-top: -1%;
    margin-bottom: 1.5%;
}

#btnactualizar {
    margin-top: 0.5%;
    margin-bottom: 1.5%;
}

label:not(.label-modal) {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: -1%;
}