.contenedor-fila {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 20px;
    /*background: rgb(178, 205, 240);*/
    margin-top: 50px;
    padding: 3px;
}

.contenedor {
    width: 90%;
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 35px;
}

.icon {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    border: none;
    width: 30%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

@media(min-width:1225px) {
    /*a partir de 768*/
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 20px;
        width: 89%;
        padding: 10px;
        border: none;
    }
}

@media(min-width:768px) and (max-width:1225px) {
    /*a partir de 768*/
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 20px;
        width: 50%;
        padding: 10px;
        border: none;
    }
}

@media(min-width:400px) and (max-width:768px) {
    /*a partir de 768*/
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 20px;
        width: 70%;
        padding: 10px;
        border: none;
    }
}

@media(max-width:400px) {
    /*menor de400*/
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 20px;
        width: 50%;
        padding: 10px;
        border: none;
    }
}

#login-screen {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid;
    border-color: rgb(172, 193, 214);
}

#password, #email {
    /*border: 1px;
    /*border-color: lightslategrey;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;*/
    width: 70%;
    border-radius: 10px;
}

.caja{
    text-align: center;
}