<div class="row contenedor-fila">
    <div id="login-screen" class="col-md-6 col-lg-6 col-xs-12">
        <form (ngSubmit)="login(f)" #f="ngForm" class="caja form-group">
            <br><h1>INICIA SESIÓN</h1>
            <div class="contenedor">
                <div class="form-group" id="nombreUsuario">
                    <img class="icon" src="../../../../../assets/components/negocio/usuario/Inicio-sesion/usuario.png">
                    <input type="email" [(ngModel)]="usuario.nombreUsuario" name="nombreUsuario" required="required" placeholder="Usuario" id="email" (keyup)="checaUsuario()">
                </div>
                <div class="form-group">
                    <img class="icon" src="../../../../../assets/components/negocio/usuario/Inicio-sesion/llave.png">
                    <input type="password" [(ngModel)]="usuario.password" name="password" required="required" placeholder="Contraseña" id="password" (keyup)="checaPassword()">
                </div>
            </div>
            <input type="submit" value="Ingresar" class="button" >
        </form>
    </div>
</div>