

<br><br><form role="form" data-toggle="validator" class="form-group">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>&nbsp;&nbsp;&nbsp;&nbsp;

    <mat-expansion-panel-header>
      <mat-panel-title>
        Actualizar horario laboral
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row contenedor-fila">

        <div class="col-md-12 col-lg-12 col-xs-12 ">


            <div class="contenedor">
                <label>Elige el día</label>
                <select [(ngModel)]="diasAtencion.dia" (change)="updateDia($event)" [ngModelOptions]="{standalone: true}" required class="custom-select">
                    <option  value="Lunes" >Lunes</option>
                    <option  value="Martes">Martes</option>
                    <option  value="Miercoles">Miercoles</option>
                    <option  value="Jueves">Jueves</option>
                    <option  value="Viernes">Viernes</option>
                    <option  value="Sabado">Sábado</option>
                    <option  value="Domingo">Domingo</option>
                  </select>
                <label>Elige si este dia abres o cierras</label>
                <select [(ngModel)]="diasAtencion.abierto" (change)="updateAbierto($event)" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option value="1" [ngValue]="1" >Abierto</option>
                    <option value="0" [ngValue]="0" >Cerrado</option>
                  </select>
                <label>Hora de apertura:</label>
                <select [(ngModel)]="diasAtencion.horaApertura" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option [disabled]="diasAtencion.abierto===0"  *ngFor="let element of horario" [ngValue]="element" selected>{{element}}</option>
                  </select>
                <label for="cars">Hora de cierre:</label>
                <select [(ngModel)]="diasAtencion.horaCierre" [ngModelOptions]="{standalone: true}" class="custom-select">
                    <option [disabled]="diasAtencion.abierto===0" *ngFor="let element of horario" [ngValue]="element"selected>{{element}}</option>
                  </select>

                <div class="media">
                    <input type="submit" value="Actualizar dia" (click)="guardar()" class="button">
                </div>

            </div>


        </div>


    </div>
  </mat-expansion-panel>
</form>



<form role="form" data-toggle="validator" class="form-group" [formGroup]="form">
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle >

    <mat-expansion-panel-header>
      <mat-panel-title>
        Editar datos del establecimiento 
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row contenedor-fila">

        <div class="col-md-12 col-lg-12 col-xs-12 ">


            <div class="contenedor">
              
              <div class="col-md-10 col-lg-10 col-xs-10"><br>

                <div class="input-contenedor">
                    <label type="text">Nombre: </label>&nbsp;&nbsp;&nbsp;<label>{{ comercio.nombre }}</label>
                </div>

                <div class="input-contenedor">
                    <label type="text">Razon Social: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.razonSocial}}</label>
                </div>

                <div class="input-contenedor">
                    <label type="text">Domicilio: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.calle}} {{comercio.numExt}} {{comercio.numInt}}, {{comercio.colonia}}, {{comercio.municipio}}, {{comercio.estado}} {{comercio.codigoPostal}}</label>
                </div>

                <div class="input-contenedor">
                    <label type="text">Tipo de actividad: </label>&nbsp;&nbsp;&nbsp;<label>{{comercio.descripcion}}</label>
                </div><br>

                <mat-form-field [ngClass]="{ 'has-danger': !form.get('email').valid }">
                  <mat-label>teléfono</mat-label>
                  <input matInput [(ngModel)]="comercio.telefono" minlength="10" name="telefono" type="number" formControlName="telefono" value="{{comercio.telefono}}" (keyup)="checaTelefono($event.target.value)" id="telefono" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </mat-form-field><br>

                <mat-form-field>
                  <mat-label>email</mat-label>
                  <input matInput [(ngModel)]="comercio.email" type="email" name="email" formControlName="email" value="{{comercio.email}}"><br>
                        <span *ngIf="form.controls['email'].errors?.pattern" class="form-control-feedback" style="color:red">
                            Correo electronico invalido.
                        </span>
                </mat-form-field>
              </div> 
                

                <div class="media">
                    <input type="submit" value="Actualizar" (click)="actualizaNegocio()" class="button">
                </div>

            </div>


        </div>


    </div>
  </mat-expansion-panel>
</form>

<div class="contenedor-regresar">
    <input type="submit" [routerLink]="['perfil']" value="Regresar" (click)="irAPerfil()" class="button-regresar">
</div>