.contenedor {
    width: 50%;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align: center;
}

.contenedor-regresar{
    text-align: center;
}

.button-regresar{
    border: none;
    width: 140px;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button {
    border: none;
    width: 160px;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}