<br><div class="card text-center animate__animated animate__rotateInDownLeft">
    <div class="card-header ">
        Par mantenerte informado, manda el siguiente texto: <b>join pilot-rope</b> en whatsapp al número: <b>+1 415 523 8886</b>, o dá click en el siguiente ícono
        <br>
        <a href="https://api.whatsapp.com/send?phone=14155238886&text=join%20pilot-rope" target="_blank"><img src=".../../../../../../assets/components/informativos/whatsapp/whatsapp-logo.png" width="120px;"></a>
    </div>
</div>


