*, body {
    font-family: sans-serif;
}

.data {
    margin: 0 auto;
    text-align: left;
}

p {
    margin: 1em 2em;
    font-size: 15px;
}

.description {
    text-align: center;
}

.title {
    font-family: sans-serif;
    color: rgb(88, 185, 43);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.sub-title {
    color: rgb(28, 182, 202);
    font-size: 16px;
    font-weight: inherit;
}