/* You can add global styles to this file, and also import other style files */

footer {
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
}

.fondo {
    background-color: #DADCF5;
    margin: 0 20px 0 20px;
    overflow-x: hidden;
}